/*
Name: M Conley
Current Date:
Class.section: CGS1821.0M1
Assignment:
Language: HTML5
Purpose:  Styling of webpages
Includes: index.html, information.html, gallery.html, bookus.html
*/

html, body, header, h1{
    padding: 0;
    margin: 0;
} /*This is a reset that reduces browser inconsistencies */

html {
  background-color: #11567F;
}

body {
  margin: 25px 130px;
  padding: 30px;
  border-radius: 22px;
  box-shadow: 2px 4px 12px #000;
  background-color: #BDE2FE;
  font-family: 'Droid Sans', sans-serif;
}

header {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  color: #000;
  box-shadow: 1px 1px 3px #223;
  background-color: #FAFDFF;
  text-align: left;
  height: 60px;
}

h1 {
	text-transform: uppercase;
  font-family: 'Yeseva One', cursive;
}

.header {
  text-align: center;
} /* Places the <h1> element in the center of the header */

nav {
  font-size: 15px;
}

nav ul {
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  border-right: 1px solid #BBB;
  background-color: #11567F;
  overflow: hidden;
}

nav a {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

nav a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #33EF9E;
}

main {
  width: 94.75%;
  margin: 0 auto;
  margin-top: 20px;
  overflow: hidden;
}

table, th, td {
  border: 1px solid;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}

table {
  border-collapse: collapse;
  width: 80%;
}

td {
  height: 25px;
}

caption {
    font-size: 17px;
    font-family: 'Nunito', sans-serif;
}

.col {
  width: 50%;
  float: left;
  text-align: center;
  height: 302.5px;
  font-family: 'Nunito', sans-serif;
}

.allowed {
  background-color: #1CAD85;
}
.not-allowed {
  background-color: #EF274E;
}

.table {
  margin-left: auto;
  margin-right: auto;
}

form {
  margin-top: 20px;
}

#form {
  display: inline-block;
  margin-left: 300px;
  margin-right: 300px;
  border: 1px solid;
  background-color: #11567F;
}

#form button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
  background-color: #33EF9E;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#form button[type="reset"] {
	cursor:pointer;
	width:100%;
	border:none;
  background-color: #33EF9E;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

fieldset {
  border: medium none !important;
}

.input {
    text-align: center;
    border-radius: 25px;
    width: 300px;
    height: 30px;
    font-size: 20px;
}

textarea {
  width: 300px;
  height: 230px;
  font-size: 20px;
}

.form-btn {
    width: 10em;
    display: inline-block;
}

footer {
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
    font-size: 14px;
    box-shadow: 1px 1px 3px #223;
    background-color: #FAFDFF;
    text-align: center;
  }

.footer-copyright {
	padding: 0px;
}
