html, body, header, h1{
    padding: 0;
    margin: 0;
} /*This is a reset that reduces browser inconsistencies */

/*

h1 {
  margin-right: 300px;
}

nav {
  float: right;
  display: block;;
  list-style-type: none;
}

.header-nav li {
  list-style: none;
  display: inline;
}

.nav-button {
  border-style: solid;
  border-color: #89A7DF;
  border-spacing: 22px;
  background-color: #89a7df;
}

main {
  margin: 0px 70px;
  background-color: green;
  padding-top: 30px
}

footer {
  background-color: white;
}

.active {

}

.column {

}

 #left {

 }

 #right {

 }

#form {
  padding: 20px;
  margin: 20px;
}

#form li {
  list-style: none;
}

.submit {

}

.footer-nav {
  float: left;
  background-color: #fff  ;
}

.footer-nav li {
  list-style: none;
}

.footer-copyright {
  float: right;
  background-color: purple;
}
*/

html {
  background-color: #f1f1f1;
}

body {
  margin: 25px 75px;
  padding: 30px;
  background-color: yellow;
  box-shadow: 2px 4px 12px #000;
}

a {
    text-decoration: none;
}

a:link {
	text-decoration: none;
}

a:visited {
 	text-decoration: none;
}

header {
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 40px;
  color: #000;
  box-shadow: 1px 1px 3px #223;
  background-color: lightblue;
}

.header-nav {
	font-size: 11px;
	font-weight: bold;
	padding: 14px 10px;
	text-transform: uppercase;
  background-color: navy;
}

.header-nav ul {
	text-align: right;
}

.header-nav li {
  display: inline;
  margin: 10px;
  font-size: 15px;
  font-style: normal;
  font-family: 'Comic', sans-serif, serif;
  border: solid 1px #00b3d7;
  background: #0ecef0;
  padding: 10px;
  border-radius: 7px;
  width: 300px;
  height: 100px;
  box-shadow: 4px 4px 2px #888888;
}

ul {
	list-style-type: none;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Arial', sans-serif, serif;
}

main {
  width: 94.75%;
  margin: 0 auto;
  overflow: hidden;
  background-color: lightgreen;
}

.col {
  width: 50%;
  float: left;
  text-align: center;
  background-color: purple;
  height: 302.5px;x`
}

.col1{
  list-style-type: none;
  background-color: lightyellow;
}

.col2 {
	list-style-type: none;
  background-color: blue;
}

.column {

}

footer {
    height: 75px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
    font-size: 14px;
    background-color: #a1ffff;
    color: #5a5a5a;
  }

.footer-nav ul {
}

.footer-nav li {
  display: inline;
  padding: 10px;
  float: left;
  background-color: white;
}

.footer-copyright {
	padding: 0px;
    float: right;
    display: inline;
    background-color: purple;
}

#Address {
	text-align: right;
	display: inline;
}

#Contact {
	text-align: right;
	display: inline;
}
