/*


CGS1820 
	Module 5 
	Chapter 3 Hands-On Case Study 
	
	Author: Mark Conley 
	Date: 6/1/2014
	
	File name: prime.css 
	Supporting files: index.html, financing.html


*/

body {
	background-color: #ffffcc;
	color: #003300; font-family:
	Arial, Helvetica, sans-serif;
}

h2{
	background-color: #ffffcc;
	color: #003366;
}
	
h3{
	background-color: #ffffcc;
	color: #006600;
}

dd{
	font-style: italic;
	font-size: .80em;
	line-height: 200%;
}

#header{
	background-color: #ffffcc;
	color: #48751a;
}
.nav{
	font-size: 1.2em;
	font-weight: bold;
}

.contact{
	font-size: .80em; font-family:
	Times New Roman, serif;
	font-weight: bold;
}

#footer{
	font-style: italic;
	font-size: .60em;
}

.wrapper{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

